mixin sCatalog(h2)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 #[span Каталог продукции]
				.h6 Комплексное обеспечение производственных предприятий и строительных объектов материалами и оборудованием
			.text-center: +search
			+e.row.row
				+e.col.col-sm-6.col-lg-4.col-xxl-3
					+itemCard('1', 'Ультразвуковой контроль')
				+e.col.col-sm-6.col-lg-4.col-xxl-3
					+itemCard('2', 'Обработка поверхности металла')
				+e.col.col-sm-6.col-lg-4.col-xxl-3
					+itemCard('1', 'Ультразвуковой контроль')
				+e.col.col-sm-6.col-lg-4.col-xxl-3
					+itemCard('3', 'Экспресс-анализ металлов и сплавов')
				+e.col.col-sm-6.col-lg-4.col-xxl-3
					+itemCard('4', 'Гибка металла')
				+e.col.col-sm-6.col-lg-4.col-xxl-3
					+itemCard('1', 'Ультразвуковой контроль')
				+e.col.col-sm-6.col-lg-4.col-xxl-3
					+itemCard('2', 'Обработка поверхности металла')
				+e.col.col-sm-6.col-lg-4.col-xxl-3
					+itemCard('3', 'Экспресс-анализ металлов и сплавов')
				+e.col.col-sm-6.col-lg-4.col-xxl-3
					+itemCard('4', 'Гибка металла')
				+e.col.col-sm-6.col-lg-4.col-xxl-3
					+itemCard('3', 'Экспресс-анализ металлов и сплавов')

	// end sCatalog