 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
  // background: $secondary;
	input{
		font-size: 16px;
    background: $gray-100;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(50);
		padding-top: rem(21);
		padding-bottom: rem(21);
    border-radius: rem(12);
    padding-right: rem(120);
    font-weight: 500;
    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
	}
	.icon {
		position: absolute;
    top: 50%;
    left: 20px;
		font-size: rem(20);
		border: none !important;
    transform: translateY(-50%);
	}
	button{
		position: absolute;
		right: 5px;
		top: 6px;
		height: calc(100% - 12px);
		display: flex;
		justify-content: center;
		align-items: center;
		border: none !important;
    --bs-btn-padding-x: #{rem(20)};
    --bs-btn-padding-y: #{rem(20)};
	}
}

.breadcrumb-item{
	width: auto;
	// margin-right: rem(32);
}


.item-card {
  display: flex;
  align-items: center;
  gap: rem(20);
  height: 100%;
  padding: rem(20);
  min-height: rem(140);
	@include media-breakpoint-up(lg) {
    padding: 0 rem(40);
  }

  border: 1px solid $gray-200;
  // border-radius: rem(20);

  &__img-wrap {
    position: relative;
    width: rem(60);
    aspect-ratio: 1/1;
    flex-shrink: 0;
  }

  &:not(.item-card--brand) {
    border-radius: rem(20);
    img {
      border-radius: rem(10);
    }
  }

  &--brand {
    justify-content: center;
    img {
      width: 110px;
      // height: 100px;
    }
  }

}